@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-900 text-gray-300;
}

/* Stile della scrollbar */
::-webkit-scrollbar {
  width: 8px; /* larghezza */
}

::-webkit-scrollbar-track {
  background: theme("colors.zinc.800"); /* colore sfondo track */
}

::-webkit-scrollbar-thumb {
  background: theme("colors.zinc.600"); /* colore del pollice */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme("colors.zinc.700");
}

a {
  @apply text-[#FFAC00];
}

form button {
  @apply bg-[#FFAC00] rounded-full text-gray-900 mt-4 font-semibold py-2 px-4;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  @apply text-4xl font-bold mb-6 text-gray-100;
}

h2 {
  @apply text-2xl font-semibold mb-4 text-gray-200;
}

/* Paragrafi */

/* Liste */
ul {
  @apply list-disc list-inside mb-6 space-y-2 text-gray-300;
}

li {
  @apply mb-1;
}
